

.bills_div {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
  align-items: center;
  position: relative;
}
.color_blue{
  color: var(--ono-blue);
}
.bills_rows{
  .flex_class{
    margin-right: 0px!important;
  }
}
.step3_bottom{
  position: initial;
}
.bills_rows:hover{
  cursor: pointer;
}
.color_red{
  color: var(--ono-red);
}
.nav-tabs {
  border-bottom: 0px;
  position: relative;
}
.nav-tabs .nav-link {
  border-radius: 0px;
  color: var(--ono-subtext);
  font-size: var(--btn-text);
  border: none;
  padding: 0px 10px 10px;
  margin-right: 10px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  background-color: transparent;
  color: var(--ono-primary);
  border: none;
  border-bottom: 3px solid var(--ono-primary);
}
.border1 {
  border: 3px solid red !important;
  position: absolute;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
}
.nav-link:focus,
.nav-link:hover {
  border: none;
}
.bills_rows {
  padding: 0px 10px;
  // border-radius: 10px;
  border: 1px solid #e4e4e4;
  .col {
    border-right: 1px solid #e4e4e4;
    padding: 10px 15px;
  }
  .last_col {
    border-right: 0px;
  }
}
.header_row {
  padding: 7px 10px;
  background-color: var(--ono-select-background);
  border: 1px solid #e4e4e4;
  border-bottom: 0px;
  // border-radius: 10px 10px 0px 0px;
}
.bottom_space {
  margin-bottom: 5px;
}
.no_data_row {
  p {
    padding: 40px 50px 0px;
    font-size: var(--btn-text);
    color: var(--ono-primary-text);
  }
  img {
    display: flex;
    margin: 0 auto;
  }
  padding: 40px 150px;
  .col-lg-6 {
    padding: 80px 0px;
  }
  .col1 {
    border-right: 1px solid var(--ono-primary);
  }
}

// bill info
.select_button {
  width: 100%;
  text-align: start;
  padding: 9px 10px !important;
  border: 1px solid #e4e4e4 !important;
  background-color: var(--ono-white);
  border-radius: 10px;
  font-size: 13px;
}
.css-1s2u09g-control,
.css-1pahdxg-control {
  border-color: #e4e4e4 !important;
  min-height: auto !important;
  padding: 4px 10px !important;
  border-radius: 10px !important;
}
.css-6j8wv5-Input,
.css-319lph-ValueContainer,
.css-14el2xx-placeholder {
  margin: 0 !important;
  padding: 0 !important;
  color: #1c1c1c !important;
  font-size: 13px !important;
}
option[value=""][disabled] {
  display: none;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none !important;
  margin-bottom: 15px;
}

.form-control:focus {
  border: 1px solid #34495e;
}

.select2.select2-container {
  width: 100% !important;
}

.select2.select2-container .select2-selection {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  margin-bottom: 15px;
  outline: none !important;
  transition: all 0.15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #333;
  line-height: 32px;
  padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
  background: #f8f8f8;
  border-left: 1px solid #ccc;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 32px;
  width: 33px;
}

.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--single {
  background: #f8f8f8;
}

.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--single
  .select2-selection__arrow {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--multiple {
  border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 34px;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-search--inline
  .select2-search__field {
  margin-top: 0;
  height: 32px;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__rendered {
  display: block;
  padding: 0 4px;
  line-height: 29px;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 0 6px 0 22px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  position: relative;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__choice
  .select2-selection__choice__remove {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 16px;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none !important;
  border: 1px solid #34495e !important;
  border-bottom: none !important;
  padding: 4px 6px !important;
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #34495e;
}

.select2-container
  .select2-dropdown
  .select2-results
  ul
  .select2-results__option--highlighted[aria-selected] {
  background-color: #3498db;
}

.bottom_bar {
  background-color: var(--ono-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
.icon_user {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.css-9gakcf-option,
.css-1n7v3ny-option {
  background-color: #d7f3dd !important;
  // border: 1px solid #16A12C;
  border-radius: 10px;
  color: #000 !important;
  width: 97% !important;
  border-bottom: 1px solid #e4e4e4;
}

.css-4ljt47-MenuList .css-yt9ioa-option,
.css-4ljt47-MenuList .css-1n7v3ny-option {
  border-bottom: 1px solid #e4e4e4;
  margin: 5px !important;
  padding: 10px !important;
  :hover {
    cursor: pointer;
  }
}

// crop info styles
.crop_div {
  margin: 0px 20px 10px 0px;
  img {
    width: 50px;
  }
  .sub_icons {
    width: auto;
    margin-right: 5px;
  }
  .sub_icons_para,
  .wastage {
    margin: 0;
    color: var(--ono-red);
  }
  .copy_icon_text {
    color: var(--ono-blue);
    margin-right: 30px;
  }
  p {
    color: var(--ono-primary-text);
    font-size: var(--body-small-text);
    margin-top: 5px;
    line-height: 16px;
  }
  .sub_icons_div:hover {
    cursor: pointer;
  }
}
.total_crops_div {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}
.other_Crop {
  :hover {
    cursor: pointer;
  }
  p {
    color: var(--ono-primary);
  }
}
.crop_table_div {
  background-color: var(--ono-white);
  border-radius: 10px;
  p,
  label {
    font-size: var(--body-text);
    color: var(--ono-primary-text);
    margin-right: 20px;
    margin-left: 5px;
  }
  .radio_buttons {
    display: flex;
    align-items: center;
  }
}
.qty_dropdown {
  width: auto;
  margin-bottom: 0px;
  color: var(--ono-blue) !important;
  font-size: var(--body-small-text);
}
.dropdown {
  /*container for custom dropdown arrow*/
  -webkit-appearance: none;
  -moz-appearance: window;
  // padding: 5px 30px 5px 5px;
  // background-image: url("../../assets/images/down_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  // border: 1px solid #e4e4e4 !important;
}
// crop table
.crop_table_view {
  table {
    border-radius: 10px;
    margin-top: 10px;
  }
  th {
    color: var(--ono-primary-text);
    font-size: var(--body-small-text);
    background-color: var(--ono-select-background);
    font-weight: 500;
  }
  table td {
    position: relative;
    padding: 5px;
  }
  table input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }
  .table > :not(:first-child) {
    border-top: 0px solid currentColor;
  }
}
// addition/deduction css
.comm_cards {
  .col-sm-12{
    padding: 10px;
  }
  .comm_card_title {
    font-size: var(--body-text);
    color: var(--ono-primary-text);
    margin-bottom: 10px;
    line-height: normal;
  }
  .title_bg{
    background-color: #E7F8EB;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 0px;
  }
  .comm_card_sub_title {
    font-size: var(--body-small-text);
    color: var(--ono-subtext);
    z-index: 99;
    position: absolute;
    bottom: -11px;
    background: #fff;
    padding: 0px 2px;
  }
  margin-bottom: 20px;
}
.input_card {
  border: 1px solid #737373;
  border-radius: 10px;
  margin-top: 5px;
  .col-lg-6,
  .col-lg-4,
  .col-lg-12 {
    padding: 5px 10px;
  }
  input {
    border: none;
    text-align: center;
    width: 100%;
  }
  .col_left_border {
    border-left: 1px solid #666666;
  }
}
input:focus-visible {
  outline: 1px solid var(--ono-blue);
}
.comm_total_card {
  padding: 15px;
  overflow-y: auto;
  height: calc(100vh - 250px);
}
.total_bal{
  height: auto;
}
.table_row {
  overflow-y: auto;
  height: calc(100vh - 350px);
}

.crop_modal_dialog {
  max-width: 900px;
}
.crop_modal_body {
  max-height: calc(100vh - 280px);
  overflow-y: auto;
}
.flex_width {
  flex-flow: wrap;
  .crop_div {
    margin-bottom: 20px;
    p {
      padding: 0px 20px;
    }
  }
}
.close_icon {
  position: absolute;
  top: -52px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
}
.close_icon:hover {
  cursor: pointer;
}
.search {
  margin-bottom: 0px;
  border-radius: 10px;
}
.row_margin_botton {
  margin-bottom: 10px;
}
// date field  css
.date_field {
  position: relative;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  padding: 7px 15px;
  border-radius: 10px;
  .date_icon img {
    position: absolute;
    top: 14px;
    left: 30px;
    z-index: 99;
    width: 15px;
  }
  .form-control {
    color: var(--ono-blue);
    font-size: 13px;
    margin-bottom: 0px;
    padding: 4px 10px;
    padding-left: 35px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
  }
  .form-control:focus {
    border: 1px solid #e4e4e4;
  }
  .react-datepicker {
    border: 0px;
    padding: 15px;
    margin-top: 13px;
    box-shadow: 0px 7px 34px rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }
  .react-datepicker__header {
    background-color: var(--ono-white);
    border-bottom: 0px;
  }
  .react-datepicker__navigation {
    top: 25px;
  }
  .react-datepicker__navigation--previous {
    left: 15px;
  }
  .react-datepicker__navigation--next {
    right: 15px;
  }
  .react-datepicker-popper[data-placement^="bottom"] {
    padding-top: 0px;
    transform: translate3d(5px, 35.5px, 0px) !important;
  }
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-bottom-color: #fff;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-bottom: 20px;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--ono-blue) !important;
  font-weight: normal !important;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
  border-color: #1c1c1c;
}
.react-datepicker__navigation:hover *::before {
  border-color: var(--ono-primary);
}
.react-datepicker__day--in-selecting-range {
  background-color: #f0f0f0 !important;
  border-radius: 100% !important;
  color: #000 !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: var(--ono-primary) !important;
  border-radius: 100% !important;
}
.react-datepicker__day:hover {
  border-radius: 100% !important;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #1c1c1c;
  border-width: 1px 1px 0 0 !important;
}
.react-datepicker__navigation:hover *::before {
  border-color: var(--on-primary) !important;
}
// month picker
.react-datepicker__month {
  margin: 0px;
}
.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  margin: 5px 10px !important;
  padding: 8px 5px;
}
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__month-text:hover {
  background-color: var(--ono-primary) !important;
  border-radius: 6px !important;
  color: #fff !important;
}
.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  width: 5rem !important;
}
// buyer info in step3 css
.buyer_info_style {
  h6 {
    font-size: var(--body-text);
    color: #1c1c1c;
    font-weight: 600;
  }
  .default_card {
    padding: 10px 20px;
  }
  p {
    font-size: var(--body-small-text);
    color: var(--ono-primary-text);
    font-weight: 500;
  }
  span {
    color: #4d4d4d;
    font-size: var(--body-small-text);
  }
}
.date_class {
  color: var(--ono-blue) !important;
}
.sec_space_gap {
  margin-bottom: 20px;
}
.Toastify__toast-theme--dark {
  background-color: red;
}
.samrtboard_calender .react-datepicker__navigation {
     top: 10px; 
}
article {
  display: none;
  height: 350px;
  width: 100%;
}
article.on {
  display: block;
}

// all bills page css
.header_row {
  p {
    font-size: 12px;
    color: #121212;
    font-weight: 500;
  }
  .col-sm-12 {
    padding-left: 10px;
    padding-right: 5px;
  }
}
.bills_rows {
  .bill_user_details {
    .userName {
      font-size: 13px;
      font-weight: 600;
      color: #1c1c1c;
    }
    .mobile,
    .address {
      font-size: 12px;
      color: #121212;
      font-weight: 500;
      margin: 2px 0px;
    }
    .address {
      color: #4d4d4d;
      margin: 0px;
    }
    .user_icon {
      width: 30px;
      margin-right: 5px;
    }
  }
  .billid_div {
    p {
      font-size: 10px;
      color: #1c1c1c;
      font-weight: 500;
    }
    .biilid {
      color: var(--ono-blue);
    }
  }
  .crop_name {
    font-size: 13px;
    color: #121212;
    font-weight: 600;
    text-transform: capitalize !important;
  }
  .payble_text {
    color: var(--ono-red);
  }
  .col-sm-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .crop_image {
    width: 40px;
    margin-right: 10px;
  }
}
.bg_red {
  background-color: red;
}
.number_overflow {
  overflow-wrap: anywhere;
}
.full_width {
  width: 100%;
}
.buy_bills {
  overflow-y: auto;
  height: calc(100vh - 200px);
}
// bill view details
.bill_view_card {
  border-radius: 10px;
  // border: 1px solid var(--ono-primary);
}
.bill_view_header {
  background-color: var(--ono-primary);
  border-radius: 10px 10px 0px 0px;
  color: var(--ono-white);
  .bill_view_top_header {
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px dashed #ffffff;
  }
  .mandi_details_header {
    padding: 10px 10px 0px 10px;
  }
  .mandi_logo {
    font-size: 16px;
    font-weight: 600;
  }
  .credit_bill {
    font-size: 12px;
    color: var(--ono-yellow);
    font-weight: 700;
    text-transform: uppercase;
  }
  .shop_no {
    margin-left: auto;
  }
  .mandi_circle {
    border-radius: 100%;
    background-color: var(--ono-yellow);
    padding: 10px;
    width: 70px;
    height: 70px;
    color: var(--ono-primary);
    justify-content: center;
    margin: 0 auto;
    .shop_number {
      line-height: 16px;
    }
  }
  .billid_date_bg {
    border-radius: 15px 15px 0px 0px;
    background-color: #0c7a1e;
    margin-top: 10px;
    padding: 5px 0px;
  }
}
.bill_crop_details {
  border: 2px solid var(--ono-primary);
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  background:#FFFFFF ;
}
.small_text {
  font-size: 10px;
}
.medium_text {
  font-size: 13px;
  font-size: 600;
}
.large_text {
  font-size: 32px;
  font-weight: 700;
}
.partner_info {
  p {
    color: #4d4d4d;
    font-weight: 600;
  }
  h6 {
    color: #121212;
    font-weight: 700;
  }
}
.total-qty{
  color: #121212;
  font-weight: 700;
font-size: 10px;
}
.partner_info_padding {
  padding: 5px 20px;
}
.more-inf-tag{
background: #FFFFFF;
border: 1px solid #E4E4E4;
border-radius: 10px;
}
.more-info{
  padding:10px 20px;
}
.buy-dtl{
  padding: 10px 0px;
  width: 100%;
}
.actions{
  padding: 5px 20px;
}
.more-p-tag{
  font-weight: 600;
font-size: 15px;
color: #1C1C1C;
}
.buyer_img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
}
.b-cr-by,.d-a-time{
  color: #4D4D4D;
  font-weight: 600;
  font-size: 10px
}
.b-name{
  font-weight: 600;
font-size: 13px;
color: #121212;
}
.d-a-value{
  font-weight: 600;
font-size: 13px;
color: #121212;
word-wrap: normal;
}
.hr-line{
  border-bottom: 1px solid  #EFF3EF;
  width: 100%;
}
.table-bordered th{
  color: #121212;
  // font-size: 12px;
}
.bill_view th,td{
  font-size: 12px;
}
.crop-tbl{
  td{
    font-size: 12px;
    color: #121212;
  }
  
}
// .table > :not(:first-child) {
//   border-top: 0;
// }
// .table-bordered td, .table-bordered th, .table-bordered {
//   border: 0.5px solid #4d4d4d;
//   vertical-align: middle;
// }
// .table{
//   font-size: 12px;
//   color: #121212;
// }
.crop_image_bill {
  width: 35px;
  margin-right: 10px;
}
.red_text {
  color: var(--ono-red);
}
.total_value {
  font-size: 12px;
  color: #121212;
  font-weight: 700;
}
.color_blue{
  cursor: pointer;
}
.hrs-line{
  border-bottom: 0.5px dashed #4D4D4D;
  width: 100%;
}
.gross_profit {
  background-color: #d7f3dd;
  padding: 5px;
  border-bottom: 1px solid #4d4d4d;
}
.col_border_left {
  border-left: 0.5px solid var(--ono-primary);
}
.clo {
  font-size: 20px;
  font-weight: 500;
}
.bg_y {
  background-color: yellow;
}
.bg_b {
  background-color: blue;
}
.buy_bills_view {
  overflow-y: auto;
  height: calc(100vh - 72px);
}
.groups_value{
  font-weight: 700;
  font-size: 10px;
  color: #121212;
}
.align-items{
  text-align: left;
}
.group-one-total{
  //padding-left: 240px;
  background: #D7F3DD;
  width: 100%;
  font-size: 10px;
}
.total-pay{
  padding-left: 65px;
}
.total-pay p{
  color: #121212;
  font-weight: 700;
  font-size: 10px;
}
.pay-value{
  padding-left: 68px;
}
.out-value{
  color:#000;
   font-size: 12px;
}
.hr-line-in-totals{
  border-bottom: 0.5px solid #4D4D4D;
  width: 100%;;
}
.out-st-bal{
  background: #D7F3DD;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.out-st{
  padding-left: 60px;
   color:#000;
   font-size: 12px;
}
// calenderr popup styles
.dates_div {
  label {
    font-size: 13px;
    font-weight: 500;
    color: #4d4d4d;
    // margin-right: 25px;
    margin-left: 5px;
    margin-bottom: 0px;
  }
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
}
.date_modal_mody {
  padding: 0px;
}
.date_modal_header {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.calender_popup article {
  padding: 20px;
}
.date_modal_dialog {
  max-width: 450px;
}
.month_picker .react-datepicker__month {
  margin: 0px;
}
.date_picker .react-datepicker,
.date_picker .react-datepicker__month-container,
.month_picker .react-datepicker,
.month_picker .react-datepicker__month-container,
.custom_picker .react-datepicker,
.custom_picker .react-datepicker__month-container {
  width: 100%;
}
.calender_popup .react-datepicker {
  border: none;
}
.calender_popup .react-datepicker__header {
  background-color: transparent;
  border-bottom: 0px;
}
.calender_popup .react-datepicker__week,
.calender_popup .react-datepicker__day-names,
.month_picker .react-datepicker__month-wrapper {
  display: flex;
  justify-content: space-between;
}
.calender_popup .react-datepicker__month {
  margin: 0px;
}
.react-datepicker__year-wrapper {
  // max-width: 230px!important;
}
.custom_input_div {
  margin-bottom: 20px;
}
.react-datepicker__input-container {
  display: block !important;
}
.react-datepicker__input-container input {
  font-size: 14px;
  color: var(--ono-blue);
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding: 5px 10px;
}
.calender_popup {
  font-size: 13px;
}
