.head_modal{
    font-size: 15px;
    color: #1C1C1C;
    margin-bottom: 10px;
    font-weight: 600;
}
.transporter_div{
    padding-bottom: 20px;
}
.date_sec{
    padding: 20px 0px;
}
.crops-color{
    color: #1C1C1C;
}
.wastage-color{
    color: #D43939;
}
.totals_value{
    padding: 10px;
    border-bottom: 1px solid #EFF3EF;
    h5{
        font-size: 15px;
        color: #767676;
        font-weight: 600;
    }
    h6{
        font-size: 18px;
        color: #D43939;
        font-weight: 600;
    }
    .black_color{
        color: #1C1C1C;
    }
}
.color_green{
    color: var(--ono-primary)!important;
}
.hr-line{
    width: 100%;
}
.edit_crop_item{
    width: 50px;
}
.edit_crop_item_div{
    height: auto;
    position: relative;
}
.edit_crop_item_len{
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    position: absolute;
    left: 50px;
    p{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #fff;
    }
}
.select_transporter{
    padding: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    margin-bottom: 20px;
}
.select_transporter:hover{
    cursor: pointer;
}