.cropmodal_poopup {
  .modal-dialog {
    max-width: 1300px;
  }
}
.crop_table_view {
  width: 100%;
}
.popup_bottom_div {
  width: 100% !important;
}
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}
.crop_search {
  input::placeholder {
    padding-left: 0px;
    text-align: left;
    color: #16a12c;
  }
}
.crop_table {
  height: calc(100vh - 280px);
  overflow-y: auto;
}
.allCrops_modal {
  .modal-content {
    box-shadow: 0px 7px 34px rgba(0, 0, 0, 0.25);
  }
}
.crop:hover {
  cursor: pointer;
}
.crop.active {
  img {
    border: 2px solid #16a12c;
    border-radius: 100%;
  }
  P {
    font-weight: 600;
  }
}
.table_crop_div {
  img {
    width: 30px;
  }
}
.wastage_val,
.wastage_val:focus {
  color: var(--ono-red);
}
.delete_copy_div {
  margin-left: 10px;
}
.crop_div_ui {
  position: relative;
}
.crp_count {
    position: absolute;
    right: 0px;
    top: 0;
    background-color: var(--ono-blue);
    color: #fff;
    font-size: 13px;
    height: 20px;
    border-radius: 100%;
    width: 20px;
  }
  .crop_div_ui:hover, .other_Crop:hover{
      cursor: pointer;
  }
  .totals{
    font-size: 1rem!important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057!important;
}
.invidual_weights_modal_popup{
  max-width: 750px;
  height: 400px;
  margin-top: 200px;
  margin-left: 150px;
  iframe{
      border: none;
  }

  // .modal-header, .modal-footer{
  //     border: none;
  // }
}
.add_inv_weights{
  height: 400px;
  overflow-y: auto;
}
.total_bags_tbl{
  width: 100%;
  height: 200px;
  padding: 10px 0px;
}
// .modal_checkbox{
//   padding: 5px 0px;
// }
.add_inv_pls_btn{
  border: none;
  color:#0066FF;
  background: none;
  font-size: 20px;
}

.qty_dropdown {  
  // background-color: white;
	/* inline SVG */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius:2px;
  border:none;
  color: #ffffff;
  padding: 0px 30px 0px 0px;
  // disable default appearance
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand { display: none };
}