.selectparty_field, .date_col, .select__control{
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}

.select-basic-single{
    width: 150px;
    padding: 0px 0px;
}
.select-prefix{
    height: 50px;
}
