
.step2_table {
    overflow-x: auto;
    display: block;
    width: 1280px;
    border: none;
    
    .col_2{
        min-width: 150px;
    }
    .col_1{
        min-width: 100px;
    }
    .col_3{
        min-width: 250px;
    }
    th{
        background-color: #E7F8EB;
        padding: 10px 10px;
        color: #121212;
        font-size: 13px;
    }
    td{padding: 5px 10px!important}
    td, th{
        border: 1px solid #737373;
    }
    
  }