.sales_summary_table, .byseller_table{
    height: calc(100vh - 315px)!important;
}
.by_seller_buyer_table{
    height: calc(100vh - 206px)!important;
}

.byseller_table_custom{
    height: calc(100vh - 335px)!important;
}