.partner_tabs {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}
.partner_div {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  overflow-y: auto;
  height: calc(100vh - 210px);
}
.partner_card {
  .partner_card_flex {
    border-bottom: 1px solid #eff3ef;
    padding: 10px;
  }
  .user_img {
    margin-right: 15px;
    width: 40px;
  }
  h5 {
    font-size: 14px;
    font-weight: 600;
    color: #1c1c1c;
  }
  h6 {
    font-size: 12px;
    font-weight: 500;
    color: #353535;
    margin: 2px 0px;
  }
  p {
    font-size: 12px;
    color: #8e8e8e;
    font-weight: normal;
  }
  .edit_delete_icons img {
    width: 30px;
    margin-left: 15px;
  }
}
.partner_modal_dialog {
  max-width: 750px;
  form {
    padding: 0px 50px;
  }
}
.partner_model_body {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
.location {
  color: var(--ono-blue);
  border: none;
  
  background-color: transparent;
  padding: 0px;
  :hover{
      cursor: pointer;
  }
}
.address_text, .location{
    margin:  15px 0px;
}
.file-input{
    input{
        opacity: 0;
       width: 0.1px;
       height: 0.1px;
       position: absolute; 
  }
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 30px 15px;
    margin-bottom: 15px;
  label { 
    color:#1B85FB;
    font-size: 13px;;
    left: 50%;
    position: absolute;
    transform:translateX(-50%);    
  } 
  .file{
      margin-top: -10px;
  }
  .input_file img{
    width: 60px;
    height: 60px;
  }
}
.date_label{
  position: relative;
  .date_icon img {
    position: absolute;
    top: 12px;
    left: 18px;
    z-index: 99;
    width: 15px;
  }
  .form-control{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 0.375rem 40px;
    font-size: 1rem;
  }
}
.location:hover{
  cursor: pointer;
}
.add_partner{ 
  h6{
  color: #121212;
  font-size: 15px;
  font-weight: 600;
}
p{
  color: #4D4D4D;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0px 20px;
}
}
.search_text{
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  ::placeholder{
    color: #16A02C;
    font-size: 15px;
  }
}
.edit_delete_icons img:hover{
  cursor: pointer;
}

.transpo_height{
  height: 85px;
}
.delete_modal_dialog {
.modal-header, .modal-footer{
border: none;
}
}
.radioBtnVal{
  margin:0px 0px 20px 20px;
}
.text-danger{
  font-size: 14px;
}