.searchicon {
    position: absolute;
    top: 4px;
    left: 12px;
    color: #16A02C;
}
#search-field{
    width: 100%;
}
#searchbar{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}
.table td, .table th {
    // padding:0px;
}
.tableRowActive{
    background: linear-gradient(180deg, #16A12C 0%, #008916 100%);
    font-weight: 500;
    font-size: 12px;
    color: white;
    cursor: pointer;
    .coloring, .address-tag, .mobilee-tag, .namedtl-tag,.paid-coloring{
        color: white;
    }
    td{
        padding: 10px;
    }
}
.table-scroll {
    height: calc(100vh - 210px);
    padding:0px;
    vertical-align: top;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
}
.ledger-table{
    width: 100%;
    height: calc(100vh - 606px);
    overflow-y: auto;
}
.tr-tags{
    font-weight: 500;
    font-size: 12px;
    color: #121212;
    cursor: pointer;
    border-bottom: 1px solid #E4E4E4;
}
.trs-tags{
    font-weight: 500;
    font-size: 12px;
    align-items: center;;
    color: #121212;
}
.theadr-tag{
    //width: 100%;  
    font-weight: 500;
    font-size: 11px;
    color: #121212;
    background: #D7F3DD;
    padding: 10px;
    th{
        padding: 10px;
    }
}
.thead-tag{ 
    font-weight: 500;
    font-size: 13px;
    color: #121212;
    background: #D7F3DD;
    padding: 10px;
    th{
        padding: 0px;
    }
}
input[type="search"]::placeholder {  
    padding-left: 35px; 
    font-weight: 500;
    font-size: 13px;
    color: #7A7A7A;
}
input[type="search"]{  
    padding-left: 35px; 
}
input[type=radio]:checked+label {
        color:#16A02C;;
}
#inlineRadio1:checked{
    background-color: #16A02C;
}
.paid-coloring{
    color:var(--ono-red);
    display: visible;
}
.outstanding-pay{
    border: 1px solid #E4E4E4;
    background:#FFFFFF;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
}
.outstanding-recievable{
    position: fixed;
    width: 100%;
    border: 1px solid #E4E4E4;
    height: 30px;
    background:#FFFFFF;
}
.p-tag{
    padding-top: 0px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    color: #121212;
}
.value-tag{
    padding-top: 0px;
    padding-left: 50px;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    color: #121212;
    color: red;
}
#transportTab{
    margin-left: 400px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #16A12C;
}
#tabsEvents{
    display: none;
}
#transporter-summary{
    border-radius: 10px;
    box-sizing: border-box;
    background: #FFFFFF;
}
.transporterSummary{
    width: 100%;
    height: calc(100vh - 230px);
    overflow-y: auto;
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}
.transporterDetailed{
    width: 100%;
    height: calc(100vh - 203px);
    overflow-y: auto;
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}
#detailed-inventory{
    background: #FFFFFF;
}
.add-record-btn{
    width: 118px;
    height: 29px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFFFFF 100%);
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    color: #16A12C;
    position: relative;
    top: -20px;
}
.recordbtns-style{
    position: relative;
    top: 17px;
}
.add-img{
    border:1px solid red;
    color: #FFF536;
    transform: rotate(-90deg);
    left: 250px;
    border-radius: 100%;
    position: absolute;
    margin-top: 100px;
}
.plus-style{
    position:absolute;
    width: 20px;
    height: 20px;
    margin-left: 860px;
    margin-top:-30px;
    background:green;
    border-radius: 100%;
}
.transporter_modal{
    max-width: 750px;
    padding-top: 30px;
  form {
    padding: 0px 50px;
  }
}
.transporter_model_body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
.transporter_inventory_modal{
    max-width: 750px;
    padding-top: 30px;
    form {
        padding: 0px 50px;
    }
}
.transporter_inventory_model_body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
.add-record{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0px;
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    border-radius: 10px;
}
.closing-btn{
    position: absolute;
    overflow:visible;
    margin-top: 10px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.btn-round{
    width: 35px;
    height: 35px;
    background: #16A12C;
    border-radius: 100%;
    margin-top:-50px;
    margin-left: 365px;
    cursor: pointer;
}
.add-pay-btn{
    position: absolute;
    background: #16A12C;
    margin-top:0px;
    left: -10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #16A02C;
    transform: rotate(-90deg);
    border-radius: 100%;
}
.record-name{
    font-weight: 600;
    font-size: 20px;
    color: #121212;
}
.inventory-name{
    position: absolute;
    left: 70px;
    top:2%;
    font-weight: 600;
    font-size: 20px;
    color: #121212;
}
#details-tag{
    width: 540px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    left: 100px;
    margin: auto;
}
.react-datepicker-popper{
}
.date_icon_in_modal{
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    //position: relative;
    //top: -85px;
    //left: 330px;
}
.date_popper react-datepicker-wrapper{
    padding-left: 100px;
}
.date_picker_in_modal{
    border: none;
    position: relative;
    top: -50px;
    float: right;
    text-align: center;
    background: none;
    cursor: pointer;
}
#out-paybles{
    margin: auto;
    padding-top: 10px;
    padding-left: 40px;
}
.react-datepicker__input-container input{
    border: none;
}
#p-tag{
    font-weight: 500;
    font-size: 13px;
}
#horizontal-line-tag{
    position: absolute;
    border-bottom:1px solid #E4E4E4;
    top: 82px;
}
#horizontal-line-card{
    position: relative;
    top: -10px;
    padding-bottom: 10px;
    border-bottom:1px solid#E4E4E4;
    display: flex;
    width: 100%;
}
#input_in_modal{
    margin: auto;
    padding-left: 40px;
    //padding-top: 10px;
}
#amt-tag{
    font-weight: 500;
    font-size: 13px;
}
#amtRecieved{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    width: 540px;
}
#comments{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    width: 540px;
    padding-top: 5px;
}
#submit_btn_in_modal{
    border-radius: 0px;
}
#modal_footer{
    padding:0px;
    display: block;
    position: relative;
    left: 0px;
}
.modal-footer>* {
    margin:0px;
}
#recieve-tag{
    font-size: 17px;
    font-weight: 600;
    font-size: 20px;
    color: #121212;
}
#recieves-tag{
    font-weight: 600;
    font-size: 13px;
    color: #7A7A7A;
    display: inline-block;
}
#cbbsk-tag{
    font-weight: 600;
    font-size: 13px;
    color: #7A7A7A;
    display: inline-block;
}
#receivable-tag{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    top:0;
    justify-content: center;
}
#radios_in_modal{
    margin: auto;
    //padding-top: 10px;
    padding-left: 40px;
}
.payments-tag{
    padding-top: 5px;
    font-weight: 500;
    font-size: 13px;
    color: #1C1C1C;
}
#comment_in_modal{
    margin: auto;
    padding-left: 40px;
    padding-top: 10px;
}
#comment-tag{
    font-weight: 500;
    font-size: 13px;
    color: #1C1C1C;
}
.form-check-label{
    font-weight: 600;
    font-size: 13px;
    color: black;
}
.select-tag{
    font-weight: 500;
    font-size: 13px;
    padding-top: 5px;
}
#comments-tag{
    font-weight: 500;
    font-size: 13px;
    color: #1C1C1C;
}
#count-tag{
    padding-top: 15px;
    font-size: 12px;
    font-weight: 500;
    font-size: 13px;
}
.bloc-tabs {
    display: flex;
    padding-left: 5px;
}
.text-valid{
    color: #dc3545!important;
    font-size: 10px;
}
.bloc-tab {
    display: flex;
    position: relative;
    left: -450px;
    top: 25px;
    padding-top: 10px;
}
#nodata-svg{
    width: 100%;
    height: 100%;
}
.tabs {
    top: 0.5px;
    padding:0px 10px;
    cursor: pointer;
    position: relative;
    outline: none;
    font-weight: 700;
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
    border: none;
    background: none;
} 
.active-tabs  {
    color: green;
    border-bottom: 2px solid green;
}
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    font-weight: 700;
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
    border: none;    
}
.tab {
    padding-left:20px;
    padding-right: 25px;
    cursor: pointer;
    position: relative;
    outline: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #4D4D4D;
    background: none;
    border: none;
} 
.active-tab  {
    color: green;
    border-bottom: 3px solid green;
}
.active-tab::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    font-weight: 700;
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
}
.content {
    background: white;
    width: 100%;
    height: 100%;
    display: none;
}
.active-content {
    display: block;
}
.active-tab::after{
    transition: 1s ease-in-out;
}
#single-img{
    position: absolute;
    left: -10px;
    top:10px;
    width: 50px;
    height: 50px;
}
.profile-details{
    position: relative;
    left:-20px
}
#trans-dtl{
    white-space: nowrap;
}
.namedtl-tag{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}
#trans-details{
    padding-top: 3px;
    padding-bottom: 3px;
    white-space: nowrap;
    padding-left: 5px;
}
#c-img{
    padding-top: 10px;
}
.profile-img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    margin-right: 5px;
}
.addrecord-img{
    position: relative;
    margin-left: 2px;
    margin-top: -1px;
    width: 10px;
    height: 10px;    
}
.paid{
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    color: #1C1C1C;
}
.total-paid{
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    color: #1C1C1C;
}
.out-standing{
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #1C1C1C;
}
#verticalLines{
    border-right:1px solid #E4E4E4;
}
#singles-img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.addres-tag{
    font-weight: 500;
    font-size: 11px;
    color: #4D4D4D;
}
.mobilee-tag{
    font-weight: 500;
    font-size: 11px;
    color:#121212;
}
#cbbk-tag{
    padding-left: 40px;
}