
.modal_popup{
    .modal-dialog {
        max-width: 750px;
        margin-top: 70px;
    }
    .hidden_field{
        visibility: hidden;
    }
}
.note_text{
    font-size: 12px;
}
.custom-select{
    padding: 18px;
}