
.modal_popup{
    .modal-dialog {
        max-width: 750px;
        margin-top: 70px;
    }
    .hidden_field{
        visibility: hidden;
    }
}
// #market-modal-content{
//     position: absolute;
//     margin-top: -100px;
//     margin-left: 0px;
// }
// #other-modal-content{
//     position: absolute;
//     margin-top: -5px;
//     margin-left: 0px;
//     max-width: 750px;
// }
.market_name_popup{
    max-width: 650px;
    margin-top: 60px;
    iframe{
        border: none;
    }
}
.market_name_modal_mody{
    // max-width: 650px;
    max-height: calc(100vh - 0px);
    margin-top: 60px;
}
.drop-down-image{
    position: absolute;
    margin: 50px 180px;
}

.searchicon{
    padding-top: 5px;
}
.note_text{
    font-size: 12px;
}
.custom-select{
    padding: 18px;
}
#searchbar-mk{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search-mk-field{
    padding-bottom: 10px;
}

.market-names{
    width: 100%;
    margin: auto;
    overflow: auto;
    max-height: calc(100vh - 290px);
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}
#market-div{
    margin: auto;
}
#mk-name{
    padding:10px 10px;
    width: 100%;
    position: relative;
    #mk-Name{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #1C1C1C;
        cursor: pointer;
        padding: 10px 15px;
    }
}
#mk-header{
   padding-left: 200px;
}
#hr-lines{
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E4E4;
    width: 100%;
    position: absolute;
    left: 0px;
}
#mk-other-name{
    border-bottom:1px solid #E4E4E4;
    padding: 10px;
}
#ot-m-img{
}
#mk-other-Name{
    padding: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #1C1C1C;
    cursor: pointer;   
}
.star-color{
    color:#D43939;
}
.cont_btn {
    border-radius: 0px 0px 9px 9px !important;
  }
.modal-footer{
    padding: 0px;
}
.profileModal{
    .modal-content {
        height: 600px;
    }
    .modal-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .othermarkerClose{
        margin-top: -15px;
    }
    .container{
        max-width: 100%;
        margin: 0 auto;
        padding: 0px 100px;
    }
}
#mk-name:hover, .marketfrom:hover{
cursor: pointer;
    border-top: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius:0px
}
.modal-content{
    border: 0px solid rgba(0, 0, 0, 0.2);
}