@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");
body {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  background-color: var(--ono-primary-background);
  height: 100%;
}
body p {
  letter-spacing: 0.3px;
}
.row,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
a:hover {
  text-decoration: none;
}
.card {
  border: none;
}
.bg_white {
  background-color: var(--ono-white);
}
.main_div_padding {
  padding:25px 20px 20px;
}
ul {
  li{
    list-style: none;
  }
  padding-left: 0px;
}
:root {
  --ono-primary: #16a12c;
  --ono-yellow: #fff536;
  --ono-red: #d43939;
  --ono-blue: #0066ff;
  --ono-primary-background: #eff3ef;
  --ono-select-background: #d7f3dd;
  --ono-primary-text: #121212;
  --ono-white: #ffffff;
  --ono-subtext: #4d4d4d;
  --main-heading: 24px;
  --header2-text: 20px;
  --header3-text: 16px;
  --btn-text: 15px;
  --header5-text: 14px;
  --body-text: 13px;
  --body-small-text: 12px;
}
.header2_text {
  font-size: var(--header2-text);
  color: var(--ono-primary-text);
}
.main_div {
  width: calc(100% - 210px)!important;
  overflow-x: hidden;
}
.main_wrapper {
  background-color: var(--ono-primary);
  width: 100%;
  height: 100vh;
  position: relative;
}
.login_nav {
  background-color: var(--ono-white);
  padding: 25px;
  width: 100%;
  h1 {
    font-size: 22px;
  }
}
.flex_class {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.primary_btn,
.btn_white,
.outline_btn{
  color: var(--ono-white);
  background-color: var(--ono-primary);
  border-radius: 10px;
  padding: 12px 40px;
  font-size: var(--btn-text);
  border: none;
}

.btn_white,
.outline_btn {
  background-color: var(--ono-white);
  color: var(--ono-primary-text);
  padding: 10px 15px;
}
.outline_btn {
  border: 1px solid var(--ono-primary);
  color: var(--ono-primary);
}
.secondary_btn,
.secondary_btn:hover {
  color: var(--ono-subtext);
  background-color: var(--ono-primary-background);
  border-radius: 10px;
  padding: 12px 40px;
  font-size: var(--btn-text);
  border: none;
}

.add_bills_btn, .add_bills_btn:hover {
  padding: 8px 25px;
  color: #fff;
}

.buttons:hover {
  // margin-top: 30px;
  background-color: var(--ono-primary);
  color: #fff;
}
.para_margin {
  margin-top: 20px;
}
.logo_top {
  margin-top: 5rem;
  // position: absolute;
  // bottom: 15%;
  // left: 50%;
  // transform: translateX(-50%);
}
.green_border {
  border-right: 1px solid var(--ono-primary);
}
.no_data_div {
  background-color: var(--ono-white);
  padding: 20px;
  border-radius: 10px;
  p {
    font-size: var(--btn-text);
    color: var(--ono-primary-text)!important;
    margin-top: 20px;
  }
}
.coming_soon{
  background-color: transparent;
  padding: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.default_card {
  background-color: var(--ono-white);
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 20px 30px;
}
.green_card {
  background-color: var(--ono-primary);
  border-radius: 10px;
}
.warning_card {
  background-color: #f3d7d7;
  border-radius: 10px;
}
.margin_bottom {
  margin-bottom: 20px;
}
.col_left {
  padding-left: 0px;
}
.col_right {
  padding-right: 0px;
}
.column {
  padding: 0px;
}
.smartboard_main_header {
  font-size: var(--btn-text);
  color: var(--ono-primary-text);
  font-weight: 600;
  margin-bottom: 10px;
}
// smartboard
.mandi_setup {
  background-color: var(--ono-primary);
  padding: 15px 20px;
  color: var(--ono-white);
  h3 {
    font-size: var(--header3-text);
    font-weight: 600;
  }
  p {
    font-size: var(--body-text);
    font-weight: 500;
  }
}
.outstanding_balance {
  .card {
    padding: 20px 30px;
  }
}
.cloose:hover{
  cursor: pointer;
}
// bills
.bottom_div {
  background-color: var(--ono-white);
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  .primary_btn {
    margin-left: 20px;
  }
}
.input_field {
  margin-bottom: 10px;
}
// scrollbar css
#scroll_style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.color_black {
  color: #1c1c1c!important;
}
#scroll_style::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

#scroll_style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--ono-primary);
}
// .react-datepicker__week:hover .react-datepicker__day{
//   background-color: red;
// }
.profileCard {
  h6 {
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  h5 {
    font-size: 15px;
    color: #121212;
    font-weight: 600;
  }
  img{
    margin-right: 10px;
    width: 40px;
  }
}
.proofilecard_icon{
  margin-left: 50px;
}
.no_data_text{
  font-size: 13px;
  color: #121212!important;
  margin-top: 5px;
}
// calender
.samrtboard_calender {
  .react-datepicker {
    width: 100%;
  }
  .react-datepicker__month-container {
    width: 100%;
  }
  .react-datepicker__navigation {
    top: 20px;
  }
  .react-datepicker__navigation--previous {
    left: 30px;
  }
  .react-datepicker__navigation--next {
    right: 30px;
  }
  .modal-content {
    border: none;
  }
}
.crop_footer{
  padding: 10px!important;
}
.crop_tick{
  position: absolute;
  top: -8px;
}