.advance_card_body{
    padding: 12px!important;
}
.advance_ledgerSummary{
    height: calc(100vh - 360px)!important;
}
.advance_ledgerSummary_tab {
    height: calc(100vh - 321px) !important;
}
.advance_table_border{
    tr td, thead th{
        padding: 5px 20px;
    }
}
.advance_ledgerSummary_custom{
    height: calc(100vh - 380px)!important;
}
.advance_ledgerSummary_tab_custom{
    height: calc(100vh - 340px)!important;
}
.advance_search{
    .form-control{
        padding-left: 10px;
    }
    #searchbar{
        border-radius: 0px 10px 10px 0px;
        // border-left: 0px;
    }
}
.advance_empty_div{
    position: relative;
    height: 100%;
}
.addIcon_div{
position: absolute;
bottom: 30px;
right: 0;
}
.partner_card{
    position: relative;
    
}
.advance_add_btn{
    border-radius: 50% 0px 0px 50%;
    padding:8px 10px!important;
}
.record_popup_select{
    .select__control{
        height: auto!important;
        border: none!important;
        padding: 0px!important;
        width: 280px;
    }
    .select__control:hover{
        cursor: pointer;
    }
    .css-1hb7zxy-IndicatorsContainer{
      display: none;
    }
    .css-1pahdxg-control{
        box-shadow: none!important;
    }
    .select__dropdown-indicator{
        display: none!important;
    }
}
.a_icon{
    position: absolute;
    right: 160px;
    top: 50%;
    transform: translateY(-50%);
}
.a_icon_selected{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.advance_table{
    height: calc(100vh - 270px)!important;
}
.adv_nodata{
    height: calc(100vh - 170px);
}