.advance_card_body{
    padding: 12px!important;
}
.advance_ledgerSummary{
    height: calc(100vh - 270px);
}
.advance_table_border{
    tr td, thead th{
        padding: 5px 20px;
    }
}
.advance_ledgerSummary_custom{
    height: calc(100vh - 289px);
}
.advance_search{
    .form-control{
        padding-left: 10px;
    }
    #searchbar{
        border-radius: 0px 10px 10px 0px;
        // border-left: 0px;
    }
}
.advance_empty_div{
    position: relative;
    height: 100%;
}
.addIcon_div{
position: absolute;
bottom: 30px;
right: 0;
}
.advance_add_btn{
    border-radius: 50% 0px 0px 50%;
    padding:8px 10px!important;
}