.select-options{
    width: auto;
    .css-1ny1ive-control{
        border-color: #E4E4E4;
        padding: 0px 8px;
    }
    .css-tlfecz-indicatorContainer, .select__dropdown-indicator{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.label_font{
    font-weight: 500;
    font-size: 12px;
    color: #121212;
}