.table-scroll {
    height: 400px;
    width: 350px;
    left: 238px;
    top: 151px;//151
    border-radius: 10px;
    //box-sizing: border-box;
    position: absolute;
    left: 18.30%;
    right: 25.86%;
    top: 21.5%;
    //bottom: 80.99%;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    overflow-y: scroll;
}
.no_data_found{
    position: absolute;
    margin-top: 2px ;
    width: 600px;
    height: 535px;
    margin-left: 400px;
    background: #D6D6D6;;
}
.no-data-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
th,td{
    padding-left: 8px;
    padding-top: 5px;
}
#ledger-summary{
    height: 330px;
    width: 617px;
    left: 140px;
    //top: 200px;//151
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 48.5%;
    right: 25.86%;
    top: 44%;//21.5
    bottom: 80.99%;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    overflow-y: scroll;
}
.coloring,.paid-coloring{
    color:  #16A12C;;
}
.content {
    background: white;
    width: 100%;
    height: 100%;
    display: none;
}
.active-content {
    display: block;
}
.ledger-table{
    width: 100%;
}
.tr-tags{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    //font-size: 12px;
    line-height: 17px;
    //align-items: center;
    position: relative;
    text-align: left;
    //text-align: center;
    color: #121212;
    cursor: pointer;
    padding: 15px;
    
}
.thead-tag{
    width: 100%;
    height: 30px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    padding: 15px;
    //align-items: center;
    //text-align: center;
    text-align: left;
    color: #121212;
    background: #D7F3DD;
}
#singles-img{
    position: absolute;
    left: 10px;
    top:-10px;
    width: 50px;
    height: 50px;
}
.profile-img{
    //position: absolute;
    //left: 0px;
    //top:2px;
    float: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.namedtl-tag{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #121212;
    text-align: left;
}
.outstanding-pay{
    position: sticky;
    top:400px;
    width: 100%;
    height: 30px;
    float: left;
    border: 1px solid #E4E4E4;
    //border-radius: 10px;
}
.pat-tag{
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
}
.values-tag{
    margin-top: -15px;
    margin-left: 200px;
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    text-align: left;
    color: #121212;
    color: #16A12C;
}
input[type="text"]::placeholder {  
    padding-left: 35px; 
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #939393;
} 
.searchicon{
    position: absolute;
    left: 2.33%;
    right: 81.35%;
    top: 110.47%;
    bottom: 86.57%;
    color: #16A02C;
}
#searchbar{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 10px;
    top: 10px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}
.bloc-tabs {
    display: flex;
}
.tabs {
    text-align: center;
    padding-left:20px;
    margin-left: 10px;
    left:0px;
    top: -5px;
    position: absolute;
    cursor: pointer;
    position: relative;
    outline: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
}
.active-tabs  {
    color: green;
    border-bottom: 2px solid green;
}
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
}
.bloc-tab {
    display: flex;
    position: absolute;
}
.tabers{
    position: absolute;
    text-align: center;
    padding-left:100px;
    left: 400px;
    margin-top: -30px;
    cursor: pointer;
    outline: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #4D4D4D;
}
.active-tab  {
    color: green;
    border-bottom: 2px solid green center;
}
.active-tab::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
}
a:hover{
    text-decoration: none;
}
tr{
    color: #121212;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    align-items: center
}
#addrecord-img{
    position: absolute;
    margin-left: -35px;
    top: 5px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    background: #16A02C;
    border: 1px solid #16A02C;
    transform: rotate(-90deg);
    border-radius: 100%;
}
.add-record-btn{
    margin-left: 875px;
    width: 118px;
    height: 29px;
    margin-top:25px;
    position: absolute;
    top:55px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFFFFF 100%);
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #16A12C;
}
.add-record{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0px;
    width: 100%;
    height: 500px;
    transition: 'ease-out';
    background: #FFFFFF;
    border-radius: 10px;
}
.btn-round{
    width: 35px;
    height: 35px;
    background: #16A12C;
    border-radius: 100%;
    margin-top:-50px;
    margin-left: 365px;
}
.closing-btn{
    position: absolute;
    overflow:visible;
    margin-top: 10px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.record-name{
    position: absolute;
    left: 50px;
    top:5%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #121212;
}
#pref-details-tag{
    position: absolute;
    width: 630px;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 90px;
}
.record-update{
    width:400px;
    height: 50px;
    border:1px solid gray;
    margin-left: 300px;
    background-color: green;
    color: white;
    display: block;
    padding-top:10px;
    padding-left:40px;
}
.recordclose-btn{
    margin-top:40px;
    left:280px;
    cursor: pointer;
}
.right-click{
    margin-top:0px;
    margin-left:-30px;
    cursor: pointer;
}
.ledger{
    background: #E5E5E5;
}

thead{
    border-radius: 10px 10px 0px 0px;
    background: #D7F3DD;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    position: sticky;
}

.names-tag{
    position: absolute;
    top: -5px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #121212;
}
.profiles-dtl{
    top:12px;
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #121212;
}
#searchbar{
    width:350px;
}
.table1{
    margin-left:500px;
}

.ledgersummary{
position: relative;
padding-left: 0px;
margin-left:0px;
top:-15px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
align-items: center;
letter-spacing: 0.02em;
color: #4D4D4D;
text-decoration: underline solid  #16A02C 50% ;
}

.detailedledger{
position: relative;
padding-left:50;
margin-left:20px;
top:-15px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.02em;
color: #4D4D4D;
text-decoration: underline solid  #16A02C 50% ;
}
.date-byledgers{
    position: absolute;
    top:55px;
    margin-left:-420px;
    border:none;
    cursor: pointer;
    display: none;
}

.record-img{
    position: absolute;
    top: 2px;
    margin-left: -28px;
    background: #16A02C;
    border-radius: 50%;
    width:20px;
    height:25px;
    border:1px solid #16A02C;
    transform: rotate(-90deg);

}
.record-btn{
    width: 118px;
    height: 29px;
    top:-75px;
    margin-left: 490px;
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFFFFF 100%);
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #16A12C;
}
.details-tag{
    position: absolute;
    width: 615px;
    margin-left: 200px;
    height: 100px;
    left:390px;
    margin-top: 45px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}
.close-btn{
    border:1px solid white;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top:0px;
    width: 20px;
    font-size: 10px;
    margin-left: 610px;
    overflow:visible;
    cursor: pointer;
   
}
.submit-btn{
    width: 100%;
    padding-top: 5px;
    height: max-content;
    left: 31.63%;
    right: 16.71%;
    top: 79.13%;
    bottom: 14.67%;
    border: none;
    background: #16A02C;
    border-radius: 0px 0px 10px 10px;
}

.date_pic{
    width: 50px;
    height: 20px;
    color: blue;
}
.date_picker{
    top:10px;
    position: absolute;
    margin-left: 450px;
    border: none;
    width: 150px;
    text-align: center;
}
.date_picker:focus {
    border: 1px solid #34495e;
}
#recievable-card{
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    font-weight: bold;
}
#date-tag{
    top:0;
    position: absolute;
    margin-top: -10px;
    
}
.dateRangePicker{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #16A02C;
}
#date_icon{
    margin-top:-5px;
    position: absolute;
    margin-left:550px;
    cursor: pointer;
}
.react-datepicker-popper{
    margin-left: 390px;
    margin-top: 30px;
}
.react-datepicker__input-container input{
    border: none;
}
.date_icon{
    margin-top:10px;
    position: relative;
    margin-left:460px;
}
#out-tag{
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 180px;
    margin-left: 50px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
} 
#recieve-tag{
    font-size: 17px;
    margin-left: 50px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #121212;
}
#amt-tag{
    font-size: 12px;
    font-family: sans-serif;
    margin-top:0px;
    margin-left: 50px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
}
.payment-tag{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 55px;
    margin-left: 50px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
#comment-tag{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 50px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
.form-check-label{
    font-size: 11px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: black
}
#inlineRadio1{
    margin-left: 50px;
}
.submit-btn{
    width: 100%;
    background: #16A02C;
    border-radius: 0px 0px 10px 10px;
    height: 100%;
    color: #FFFFFF;
    padding-bottom: 12px;
    padding-top: 11px;
}

#comments{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-left: 50px;
    width: 630px;
}

#recieve-tag{
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #121212;

}
#receivable-tag{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    top:0;
    justify-content: center;
}
.payment-tag, #comment-tag{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}

.form-check-label{
    font-size: 11px;

}
#amtRecieved{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-left: 50px;
    width: 630px;
}
.profile
{
    width:600px;
    height:50px;
    left:0px;
    margin-left:-300px;
}
.addrecord-tag{
    margin-bottom: 10px;
    font-size: 13px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #121212;

}
.paid{
    position: absolute;
    top:5px;
    font-size: 12px;
    margin-left: 190px;
    margin-top:10px;
    justify-content: space-between;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
.total-paid{
    position: absolute;
    font-size: 12px;
    top:5px;
    margin-left: 320px;
    margin-top:10px;
    justify-content: space-between;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
.out-standing{
    position: absolute;
    top:5px;
    font-size: 12px;
    margin-left: 420px;
    margin-top:10px;
    justify-content: space-between;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
.profile-details{
    position: absolute;
    padding-left: 70px;
}
.address{
    position: absolute;
    top: 25px;
    font-size: 12px;
}
.coloring{
    color: #16A12C;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    display: visible;
}
.record-update{
    width:400px;
    height: 50px;
    border:1px solid gray;
    margin-left: 300px;
    background-color: green;
    color: white;
    display: none;
    padding-top:10px;
    padding-left:40px;
}
.recordclose-btn{
    margin-top:-50px;
    margin-left:280px;
    cursor: pointer;
}
.right-click{
    margin-top:-50px;
    margin-left:-30px;
    cursor: pointer;
}
.add{
    background: #16A02C;
    color: #FFF536;
    transform: rotate(-90deg);
    left: -10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 2px;
}
