#ledger-table{
    width:350px;
    height:100%;
    border: 1px solid lightgray;
    margin-left: 10px;
}
/*td{
    justify-content: center;
    padding-left: 100px;
}*/
thead{
    background-color: lightgreen;
}
tr{
    cursor: pointer;
    color: black;
}
tr:hover{
    background-color: green;
    color: white;
}
.name-tag{
    cursor: pointer;
}
#searchbar{
    width:350px;
}
.table1{
    margin-left:500px;
}
.navbar-nav{
    // margin-left:-530px;
    // margin-top:0px;
    // position: absolute;
}
.ledgersummary{
    font-size: 13px;
    font-weight: bold;
    color: black;
    padding:5px 10px;
    position: relative;
    top:0px;
    margin-left: 0px;
}
.ledgersummary:hover{
    color:green;
    text-decoration: underline;
}

.detailedledger{
    font-size: 13px;
    font-weight: bold;
    color: black;
    padding:5px 10px;
    position: relative;
    top:0px;
}
.detailedledger:hover{
    color:green;
    text-decoration: underline;
}
.record-btn{
    width: 100px;
    height: 30px;
    font-size: 12px;
    color: green;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-left: 500px;
    position: absolute;
    top:55px;
    border-radius: 10px;
}
.close-btn{
    border:1px solid white;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top:0px;
    width: 20px;
    font-size: 10px;
    margin-left: 300px;
    overflow:visible;
    cursor: pointer;
   
}
.submit-btn{
    border:1px solid white;
    background-color: green;
    width: 100%;
    padding-top: 5px;
    height: max-content;
}
.date_pic{
    width: 50px;
    height: 20px;
    color: blue;
}
.date_picker{
    top:0;
    position: absolute;
    margin-left: 400px;
    border: none;
    width: 150px;
    text-align: center;
}
#recievable-card{
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    font-weight: bold;
}
#date-tag{
    top:0;
    position: absolute;
    margin-top: -10px;
    
}
#date_icon{
    margin-top:-5px;
    position: relative;
    margin-left:405px;
}
#p-tag, #amt-tag{
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 15px;
}
#recieve-tag{
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
}
#receivable-tag{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    top:0;
    justify-content: center;
}
.payment-tag, #comment-tag{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 15px;
}
.form-check-label{
    font-size: 11px;
}
.profile
{
    width:600px;
    height:50px;
    left:0px;
    margin-left:-300px;
}
.add{
    height: 20px;
    background-color: green;
    border-radius: 10rem;
    left:0px;
}
.addrecord-tag{
    margin-bottom: 10px;
    font-size: 13px;
}
.paid{
    position: absolute;
    top:5px;
    font-size: 12px;
    margin-left: 150px;
    justify-content: space-between;
}
.total-paid{
    position: absolute;
    font-size: 12px;
    top:5px;
    margin-left: 250px;
    justify-content: space-between;
}
.out-standing{
    position: absolute;
    top:5px;
    font-size: 12px;
    margin-left: 350px;
    justify-content: space-between;
}
.profile-details{
    position: absolute;
    font-weight: bold;
    top:5px;
    font-size: 15px;
    margin-left:0px;
    justify-content: space-between;
}
.address{
    position: absolute;
    top: 25px;
}
.coloring{
    color:green;
    display: visible;
}
.record-update{
    width:400px;
    height: 50px;
    border:1px solid gray;
    margin-left: 300px;
    background-color: green;
    color: white;
    display: none;
    padding-top:10px;
    padding-left:40px;
}
.recordclose-btn{
    margin-top:-50px;
    margin-left:280px;
    cursor: pointer;
}
.right-click{
    margin-top:-50px;
    margin-left:-30px;
    cursor: pointer;
}

