.table-scroll {
    height: 400px;
    width: 350px;
    left: 238px;
    top: 151px;
    border-radius: 10px;
    //box-sizing: border-box;
    position: absolute;
    left: 18.30%;
    right: 25.86%;
    top: 21.5%;
    //bottom: 80.99%;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    overflow-y: scroll;
}
#ledgersTab{
    position: absolute;
    text-decoration: none;
    margin-top:20px;
    left:38.5%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #4D4D4D;
}
.table, th, td {
    border-collapse: collapse;
}
input[type="search"]::placeholder {  
    padding-left: 35px; 
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #939393;
} 
.searchbar-input{
    position: absolute;
    height: 40px;
    width: 488px;
    left: 10px;
    margin-left: 0px;
    top: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 10px;

}
.searchicon{
position: absolute;
left: 2.33%;
right: 81.35%;
top: 100.47%;
bottom: 86.57%;
background: #16A02C;
}
tr{
    color: #121212;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    align-items: center
}
.ledger{
    background: #E5E5E5;
}

thead{
    border-radius: 10px 10px 0px 0px;
    background: #D7F3DD;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    position: sticky;
}

.name-tag{
    cursor: pointer;
    color: #1C1C1C;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
}
#searchbar{
    width:350px;
}
.table1{
    margin-left:500px;
}

.ledgersummary{
position: relative;
padding-left: 0px;
margin-left:0px;
top:-15px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
align-items: center;
letter-spacing: 0.02em;
color: #4D4D4D;
text-decoration: underline solid  #16A02C 50% ;
}

.detailedledger{
position: relative;
padding-left:50;
margin-left:20px;
top:-15px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.02em;
color: #4D4D4D;
text-decoration: underline solid  #16A02C 50% ;
}
.date-byledgers{
    position: absolute;
    top:55px;
    margin-left:-420px;
    border:none;
    cursor: pointer;
    display: none;
}

.record-img{
    position: absolute;
    top: 2px;
    margin-left: -28px;
    background: #16A02C;
    border-radius: 50%;
    width:20px;
    height:25px;
    border:1px solid #16A02C;
    transform: rotate(-90deg);

}
.record-btn{
    width: 118px;
    height: 29px;
    top:-75px;
    margin-left: 490px;
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFFFFF 100%);
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #16A12C;
}
.details-tag{
    position: absolute;
    width: 615px;
    height: 100px;
    left:390px;
    margin-top: 100px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}
.close-btn{
    border:1px solid white;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top:0px;
    width: 20px;
    font-size: 10px;
    margin-left: 610px;
    overflow:visible;
    cursor: pointer;
   
}
.submit-btn{
    width: 100%;
    padding-top: 5px;
    height: max-content;
    left: 31.63%;
    right: 16.71%;
    top: 79.13%;
    bottom: 14.67%;
    border: none;
    background: #16A02C;
    border-radius: 0px 0px 10px 10px;
}

.date_pic{
    width: 50px;
    height: 20px;
    color: blue;
}
.date_picker{
    top:0;
    position: absolute;
    margin-left: 400px;
    border: none;
    width: 150px;
    text-align: center;
}
.date_picker:focus {
    border: 1px solid #34495e;
}
#recievable-card{
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    font-weight: bold;
}
#date-tag{
    top:0;
    position: absolute;
    margin-top: -10px;
    
}
.dateRangePicker{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #16A02C;
}
#date_icon{
    margin-top:-45px;
    position: relative;
    margin-left:-25px;
}
.date_icon{
    margin-top:-10px;
    position: relative;
    margin-left:375px;
}
#p-tag, #amt-tag{
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
}
#comments{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

#recieve-tag{
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #121212;

}
#receivable-tag{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    top:0;
    justify-content: center;
}
.payment-tag, #comment-tag{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}

.form-check-label{
    font-size: 11px;

}
#amtRecieved{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}
.profile
{
    width:600px;
    height:50px;
    left:0px;
    margin-left:-300px;
}
.addrecord-tag{
    margin-bottom: 10px;
    font-size: 13px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #121212;

}
.paid{
    position: absolute;
    top:5px;
    font-size: 12px;
    margin-left: 150px;
    margin-top:10px;
    justify-content: space-between;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
.total-paid{
    position: absolute;
    font-size: 12px;
    top:5px;
    margin-left: 260px;
    margin-top:10px;
    justify-content: space-between;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
.out-standing{
    position: absolute;
    top:5px;
    font-size: 12px;
    margin-left: 350px;
    margin-top:10px;
    justify-content: space-between;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #1C1C1C;
}
.profile-details{
    position: absolute;
    font-weight: bold;
    top:5px;
    font-size: 15px;
    margin-left:0px;
    justify-content: space-between;
}
.address{
    position: absolute;
    top: 25px;
    font-size: 12px;
}
.coloring{
    color: #16A12C;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    display: visible;
}
.record-update{
    width:400px;
    height: 50px;
    border:1px solid gray;
    margin-left: 300px;
    background-color: green;
    color: white;
    display: none;
    padding-top:10px;
    padding-left:40px;
}
.recordclose-btn{
    margin-top:-50px;
    margin-left:280px;
    cursor: pointer;
}
.right-click{
    margin-top:-50px;
    margin-left:-30px;
    cursor: pointer;
}
.add{
    background: #16A02C;
    color: #FFF536;
    transform: rotate(-90deg);
    left: -10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 2px;
}
.react-datepicker-popper{
    margin-left: 350px;
    margin-top: 25px;
}