.detailed-ledger{
    top: 100px;
    left: 0px;
    width: 615px;
    height:400px;
    border: 1px solid gray;
    position: absolute;
}

.detail-ledger{
    top: 100px;
    left:0px;
    width: 615px;
    height:100%;
    border: 1px solid gray;
    position: absolute;
}
