.ledger-summary{
    height: 300px;
    width: 617px;
    left: 140px;
    top: 151px;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 25.86%;
    top: 110.9%;
    bottom: 80.99%;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    overflow-y: scroll;
}

.seller-summary{
    height: 300px;
    width: 617px;
    left: 140px;
    top: 151px;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 25.86%;
    top: 110.9%;
    bottom: 80.99%;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    overflow-y: scroll;
}
.details{
    position: absolute;
    width: 614px;
    height: 50px;
    margin-left: -615px;
    border: 1px solid gray;
    font-size: 10px;
    padding-bottom: 90px;
    top:0px;
    border-radius: 10px;
}
.images img{
    position: relative;
    left:320px;
    padding-left: 20px;
}
.print{
    height: 20px;
    border-radius: 50rem;
    left:0px;
    top:-20px;
}
.share{
    height: 20px;
    border-radius: 50rem;
    left:0px;
    top:-20px;
}
.pdf{
    height: 20px;
    border-radius: 50rem;
    left:0px;
    top:-20px;
}

