.payment_view_row {
  height: 100%;
}
.payment_view_card {
  border-radius: 10px;
  border: 2px solid #16a12c;
  .partyDetails {
    border-bottom: 1px solid #e4e4e4;
    padding: 20px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-right: 10px;
    }
    h6 {
      font-size: 13px;
      font-weight: 500;
      color: #1c1c1c;
      margin-bottom: 2px;
    }
    p {
      color: #737373;
      font-weight: 500;
      font-size: 12px;
    }
    h5 {
      color: #171717;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .comment_details {
    border-bottom: 0px;
  }
  
}
