.select-billIds {
    .modal-content {
      box-shadow: 0px 7px 34px rgba(0, 0, 0, 0.25);
    }
  }
  .header2_text{
    font-weight: 600;
    font-size: 20px;
  }
  .bills-search{
    padding: 0px 0px;
  }
  .each-billId{
    padding: 10px 0px;
    margin: 10px 0px;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
  }
  .border-bott {
    border-bottom: 1px solid #dee2e6!important;
  }
  .selected-img{
    height: 20px;
    width: 20px;
    padding: 0px 80px;
  }
  .selected{
    padding: 10px 0px;
    margin: 10px 0px;
    background: #D7F3DD;
    border: 1px solid #16A02C;
    border-radius: 4px; 
  }
  .discount-prec{
    padding: 0px 0px;
  }
  .discount-label{
    font-weight: 700;
  font-size: 13px;
  color: #1C1C1C;
  }
  .disc-perc{
    font-weight: 500;
  font-size: 13px;
  color: #1C1C1C;
  }
  .custom_picker{
    padding: 10px 0px;
    width: 100%;
  }
  .date_modal_header{
    width: 100%;
  }
  .date-range{
    color: #0066FF;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 10px 10px;
  }
  .custom-date-icon{
    width: 20px;
    height: 20px;
  }
  .date-icons{
    padding:5px 5px;
  }
  .amount{
    padding: 5px 0px;
  } .amt-after-dic{
    font-weight: 500;
  font-size: 13px;
  }
  .bill-amt{
    font-weight: 600;
  font-size: 15px;
  }