@import url("../../assets/css/style.scss");
@import "toastr";
.button{
  display: block!important;
}
.timer button{
  background-color: #fff!important;
  color: var(--ono-blue) !important;
  font-family: "Manrope", sans-serif;
  span{
    span{
      display: none!important;
    }
  }
}
.timer span{
  color: var(--ono-blue) !important;
  font-family: "Manrope", sans-serif;
}
.ca_writer_card {
  text-align: center;
  p {
    font-size: var(--body-text);
    padding: 0px 65px;
    line-height: 17px;
    height: 50px;
  }
  h5 {
    font-size: var(--header5-text);
    color: var(--ono-primary-text);
    margin-top: 20px;
    padding: 0px 30px;
  }
  h6 {
    font-size: var(--btn-text);
    color: var(--ono-blue);
    margin-top: 5px;
  }
}
.login_container {
  max-width: 100%;
  padding: 80px 250px;
  margin: 0 auto;
}

.edit-icon {
  width: 25px;
  height: 22px;
  cursor: pointer;
  display: inline-block;
  margin-left: 2rem;
  background-image: url(../../assets/images/edit.svg);
  background-repeat: no-repeat;
}

.wrapper {
  background-color: var(--ono-white);
  border-top: 6px solid var(--ono-primary);
  border-radius: 5px;
  form {
    label {
      font-size: 18px;
    }
    padding: 25px 45px;
    a {
      color: var(--ono-blue) !important;
      
    }
    .text-danger{
      margin-bottom: 10px;
    }
    button {
      width: 100%;
    }
    .form-control {
      padding: 22px 20px;
      border-radius: 4px;
    }
    .form_div {
      margin-bottom: 25px;
    }

    .mobile-field{
      margin-bottom: 0;
      .mobile-error{
        height: 25px;
        // display: none;
        visibility: hidden;
      }
      input:invalid ~ .mobile-error{
        visibility: visible;
      }

    }
    p {
      font-size: var(--body-text);
      color: var(--ono-subtext);
    }
    .resend_otp {
      font-size: var(--btn-text);
      cursor: pointer;
    }
  }
}
.para_margin{
  margin-bottom: 20px;
}

.writer{
  height: 228px;
}
.terms_modal_popup{
  max-width: 1100px;
  margin-top: 60px;
  iframe{
      border: none;
  }
  .modal-header, .modal-footer{
      border: none;
  }
}
.danger-text{
  color: red;
}
.border-danger{
  border: 1px solid red;
}
a:hover{
  cursor: pointer;
}
.illustration{
  position: absolute;
  bottom: 0;
  width: 100%;
}